<div class="flex flex-col flex-auto md:w-240 md:min-w-240 max-h-360 -m-6 overflow-y-auto">

    <div class="h-6 pr-3 sm:pr-2 text-on-primary -mb-6">
        <button style="float: right;" mat-icon-button (click)="onCloseDialog()">
            <mat-icon class="text-current mt-2 " [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-0 items-center justify-between h-6 pr-3 sm:pr-5 pl-6 text-on-primary">
        <div class="text-lg font-medium"></div>
    </div>

    <div class="flex sm:p-1 text-center percentageBar text-black font-bold">
     <div *ngIf="(equityBarPercent | async) !='0%'"       [ngStyle]="{'width': (equityBarPercent | async),'background-color': equityColor}"><h5 class="mt-1 font-bold">{{equityBarPercent | async}}</h5> </div>
     <div *ngIf="(cryptoBarPercent | async) !='0%'"       [ngStyle]="{'width': (cryptoBarPercent | async),'background-color': cryptoColor}"><h5 class="mt-1">{{cryptoBarPercent | async}}</h5></div>
     <div *ngIf="(commoditiesBarPercent | async) !='0%'"  [ngStyle]="{'width': (commoditiesBarPercent | async),'background-color': commoditiesColor}"><h5 class="mt-1">{{commoditiesBarPercent | async}}</h5></div>
     <div *ngIf="(realEstateBarPercent | async) !='0%'"   [ngStyle]="{'width': (realEstateBarPercent | async),'background-color': realEstateColor}"><h5 class="mt-1">{{realEstateBarPercent | async}}</h5></div>
     <div *ngIf="loading"  class="w-full bg-gray-500"><h5 class="mt-1">Loading...</h5></div>
     <div *ngIf="NoDataFound"  class="w-full bg-gray-500"><h5 class="mt-1">No Data Found</h5></div>
    </div>

    <div class="flex">
        <div class="w-full min-h-100 sm:p-2 m-4  ml-8 mr-8">
            <div>
                <span class="text-lg font-bold" [ngStyle]="{'color': equityColor}">EQUITIES </span>
                <h5 class="style mt-4">Total Value: <span class="absolute ml-8 text-white"> {{ equityTotalValue | async}} </span> <span
                        class="fixed ml-36 text-white"> Volume: {{ equityVolume | async}} </span></h5>
                <h5 class="style">Current Value: <span class="absolute ml-3 text-white"> {{ equityCurrentValue | async}} </span>
                    <span *ngIf="equityLoss" [ngStyle]="{'color':equityPLColor}" class="fixed ml-32 "> Net P/L: {{ equityNetProfitLoss | async }}
                        <mat-icon  [ngStyle]="{'color':equityPLColor}" style="font-size: 15px;margin-top: -4px;">arrow_downward</mat-icon>
                    </span>
                    <span *ngIf="equityProfit" [ngStyle]="{'color':equityPLColor}" class="fixed ml-32 "> Net P/L: {{ equityNetProfitLoss | async }}
                        <mat-icon  [ngStyle]="{'color':equityPLColor}" style="font-size: 15px;margin-top: -4px;">arrow_upward</mat-icon>
                    </span>
                </h5>
            </div>

            <div class="mt-4">
                <span class="text-lg font-bold" [ngStyle]="{'color': cryptoColor}">CRYPTO </span>
                <h5 class="style mt-4">Total Value: <span class="absolute ml-8 text-white"> {{ cryptoTotalValue | async}} </span> <span
                        class="fixed ml-36 text-white"> Volume: {{ cryptoVolume | async}} </span></h5>
                <h5 class="style">Current Value: <span class="absolute ml-3 text-white"> {{ cryptoCurrentValue | async}} </span>
                    <span *ngIf="cryptoLoss" [ngStyle]="{'color':cryptoPLColor}" class="fixed ml-32 "> Net P/L: {{ cryptoNetProfitLoss | async}}
                        <mat-icon  [ngStyle]="{'color':cryptoPLColor}" style="font-size: 15px;margin-top: -4px;">arrow_downward</mat-icon>
                    </span>
                    <span *ngIf="cryptoProfit" [ngStyle]="{'color':cryptoPLColor}" class="fixed ml-32 "> Net P/L: {{ cryptoNetProfitLoss | async}}
                        <mat-icon  [ngStyle]="{'color':cryptoPLColor}" style="font-size: 15px;margin-top: -4px;">arrow_upward</mat-icon>
                    </span>
                </h5>
            </div>

            <div class="mt-4">
                <span class="text-lg font-bold" [ngStyle]="{'color': commoditiesColor}">COMMODITIES </span>
                <h5 class="style mt-4">Total Value: <span class="absolute ml-8 text-white"> {{ commodityTotalValue | async}} </span>
                    <span class="fixed ml-36 text-white"> Volume: {{ commodityVolume | async}} </span></h5>
                <h5 class="style">Current Value: <span class="absolute ml-3 text-white"> {{ commodityCurrentValue | async}} </span>
                    <span *ngIf="commodityLoss" [ngStyle]="{'color':commoditiesPLColor}" class="fixed ml-32 "> Net P/L: {{ commodityNetProfitLoss | async}}
                        <mat-icon  [ngStyle]="{'color':commoditiesPLColor}" style="font-size: 15px;margin-top: -4px;">arrow_downward</mat-icon>
                    </span>
                    <span *ngIf="commodityProfit" [ngStyle]="{'color':commoditiesPLColor}" class="fixed ml-32 "> Net P/L: {{ commodityNetProfitLoss | async}}
                        <mat-icon  [ngStyle]="{'color':commoditiesPLColor}" style="font-size: 15px;margin-top: -4px;">arrow_upward</mat-icon>
                    </span>
                </h5>
            </div>

            <div class="mt-4">
                <span class="text-lg  font-bold" [ngStyle]="{'color': realEstateColor}">REAL ESTATE </span>
                <h5 class="style mt-4">Total Value: <span class="absolute ml-8 text-white"> {{ realEstateTotalValue | async}} </span> <span
                        class="fixed ml-36 text-white"> Volume: {{ realEstateVolume | async}} </span></h5>
                <h5 class="style">Current Value: <span class="absolute ml-3 text-white"> {{ realEstateCurrentValue | async}} </span>
                    <span *ngIf="realEstateLoss" [ngStyle]="{'color':realEstatePLColor}" class="fixed ml-32 "> Net P/L: {{ realEstateNetProfitLoss | async}}
                        <mat-icon  [ngStyle]="{'color':realEstatePLColor}" style="font-size: 15px;margin-top: -4px;">arrow_downward</mat-icon>
                    </span>
                    <span *ngIf="realEstateProfit" [ngStyle]="{'color':realEstatePLColor}" class="fixed ml-32 "> Net P/L: {{ realEstateNetProfitLoss | async}}
                        <mat-icon  [ngStyle]="{'color':realEstatePLColor}" style="font-size: 15px;margin-top: -4px;">arrow_upward</mat-icon>
                    </span>
                </h5>
            </div>

        </div>
        <div class="w-full min-h-100 sm:p-2   ml-2 mr-8 mt-4 mb-4">
            <div id="chart_">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"></apx-chart>
                <img class="globe_" src="assets/images/logo/globe1.png" alt="" sizes="" srcset="">
            </div>

        </div>

    </div>
</div>
